#container {
    display: flex;
    justify-content: stretch;
}

#detailsLabel {
    margin-left: 5em;
}

#details {
    margin-left: 1em;
}

/*  */
#addForm,
#detailForm {
    display: flex;
    flex-direction: column;
}

#add,
#cancel {
    flex-direction: row;
}
